h1= title
p Welcome to chat, #{user}!

// External scripts here
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js")
script(src="/socket.io/socket.io.js")

form(action='logout', method='post')
	input(type="submit", value="Logout")
br

div(id="chat_messages")

form(id='chat_input')
	input(id="chat_input_box", placeholder="Type and press enter")
	input(type="submit", value="Send")

script
	$(function() {

		function getCookie(c_name) {
			var i,x,y,ARRcookies=document.cookie.split(";");
			for (i=0;i<ARRcookies.length;i++) {
				x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
				y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
				x=x.replace(/^\s+|\s+$/g,"");
				if (x==c_name) {
					return unescape(y);
				}
			}
		}

		var PORT = 3000;
		var SERVER_IP = 'localhost';
		var socket = io.connect('http://'+SERVER_IP+':'+PORT);
		console.log(document.cookie);
		//when you hit enter
		$('#chat_input').submit(function(e) {
			e.preventDefault();
			var msg = $('#chat_input_box').val();
			var name = getCookie('username');
			if ((msg != '') && (name != '')) {
				socket.emit('msg', msg, name);
				$('#chat_input_box').val('');
			}
			$('#chat_input_box').focus();
		});
		//when you connect
		socket.on('connect', function () {
			//when you get a new message
			socket.on('msg', function(msg) {
				$('#chat_messages').append('<div>' + msg + '</div>');
			});
		});
	});
