h1= title
  form(id="logout")
    input(type="submit", value="Logout", onclick="logout();return false;")
p Welcome to BigBlueButton, #{user}!

// The chat box and its controls
div(id="ChatAndControls")
  div(id="chat_title") <b>Chat messages</b>
  div(id="chat_messages")
  form(id='chat_input')
    label(id="charcount")= max_chat_length
    input(id="chat_input_box", maxlength="#{max_chat_length}", onKeyUp="countchars(#{max_chat_length})", placeholder="Type and press enter")
    input(id="send_chat", type="submit", value="Send", onclick="sendMessage();return false;")

// The slide and controls of the chat page
div(id="slideAndControls")
  div(id="slide")
  // Buttons below the slide
  div(id='imagecontrols')
    form(id='backward_image')
      input(type="submit", value="<<<", onclick="prevImg();return false;")
    form(id='forward_image')
      input(type="submit", value=">>>", onclick='nextImg();return false;')
    form(id='clearCanvas')
      input(type="submit", value="Clear", onclick="clearCanvas();return false;")
    form(id="chooseLine")
      input(type="submit", value="Line", onclick="chooseLine();return false;")
    form(id="chooseRect")
      input(type="submit", value="Rect", onclick="chooseRect();return false;")
    form(id="choosePanZoom")
      input(type="submit", value='Pan & Zoom', onclick="choosePanZoom();return false;")
    form(id="switchPresenter")
      input(type="submit", value="Switch presenter", onclick="switchPresenter();return false;")
  
  // Upload controls
  div(id="uploadcontrols")
    p Upload a custom first image
    form(method="post", enctype="multipart/form-data")
      input(type="file", name="image")
      input(type="submit", value="Upload")

// List of the connected users
div(id="listUsers")
  div Current users
  div(id="current_users")

// External scripts here
script(src='/javascripts/lib/raphael-min.js')
script(src="/javascripts/lib/jquery-1.7.2.min.js")
script(src="/javascripts/lib/jquery.mousewheel.min.js")
script(src="/socket.io/socket.io.js")
script(src='/javascripts/chat/whiteboard.js')
script(src='/javascripts/chat/chat.js') //all socket interactions javascript

  

  



