h1= title
p Welcome to BigBlueButton, #{user}!

form(id="logout")
  input(type="submit", value="Logout")
br
br

// External scripts here
script(src='/javascripts/lib/raphael-min.js')
script(src="/javascripts/lib/jquery-1.7.2.min.js")
script(src="/socket.io/socket.io.js")
script(src='/javascripts/chat/whiteboard.js')
script(src='/javascripts/chat/chat.js') //all socket interactions javascript

div(id="ChatAndControls")
  div(id="chat_title") <b>Chat messages</b>
  div(id="chat_messages")
  form(id='chat_input')
    label(id="charcount")= max_chat_length
    input(id="chat_input_box", maxlength="#{max_chat_length}", onKeyUp="countchars(#{max_chat_length})", placeholder="Type and press enter")
    input(id="send_chat", type="submit", value="Send")

div(id="slideAndControls")
  div(id="slide")
  div(id='imagecontrols')
    form(id='backward_image')
      input(type="submit", value="<<<")
    form(id='forward_image')
      input(type="submit", value=">>>")
    form(id='clearCanvas')
      input(type="submit", value="Clear")
    form(id="chooseLine")
      input(type="submit", value="Line")
    form(id="chooseRect")
      input(type="submit", value="Rect")
  div(id="uploadcontrols")
    p Upload a custom first image
    form(method="post", enctype="multipart/form-data")
      input(type="text", name="title")
      input(type="file", name="image")
      input(type="submit", value="Upload")
      
div(id="listUsers")
  div Current users
  div(id="current_users")

div(onmousedown="return false;", id="cursor", class="circle")
svg(id="mysvg", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="300", height="300")



  

  



